# Ignoruj wszystko
*

# Ale NIE ignoruj konkretnych rozszerzeń
!*.php
!*.py
!*.json
!.gitignore

# Następnie jawnie ZIGNORUJ konkretne pliki, mimo że są *.json
/status_aggregate.json
/current_status.json
